.internship_item_1{
    background-color: #F6F5F9;
    display: grid;
    grid-template-columns: auto auto;
}
.internship_item_1 p{
    margin-left: 1vw;
}
.internship_item_1 svg {
    margin-top: 1.5vw;
    margin-left: 0vw;
    color: #793EF5;
}
.internship_item_content_2 p {
    margin-left: 1vw;
    font-size: .8vw;
}
.internship_item_content_2 h4 {
    margin-left: 1vw;
}